//Custom menu
.menu {
    background: $secondary;
    position: fixed;
    top: 12%;
    z-index: 6;
    transition: .4s ease-out;

    @include mobile {
        display: none;
    }


    h2 {
        font: normal normal 300 0.75rem/12px InterstateLight;
    }

    h3 {
        font: normal normal 400 1.25rem/23px TimesBold;
        text-decoration: underline !important;
        margin-bottom: 1rem;

        &:hover {
            color: $tertiary;
        }
    }

    p,
    .mas {
        font: normal normal 600 0.875rem/14px InterstateLight;
        margin-bottom: 2rem;
        color: $primary;
    }
}

.navegation {
    width: 100%;
    height: 70px;
    background: $secondary;
    @include grid(2);
    position: fixed;
    z-index: 5;
    top: 3%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

    @include mobile {
        @include grid(3);
        height: 95px;
    }

    @include tablet {
        display: none;
    }
}

.hamburger {
    display: none;

    @include mobile {
        display: block;
        display: block;
        position: relative;
        top: -18px;
        left: 10px;
    }
}

.box {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: 37px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 12rem 0 2.3rem;

    @include mobile {
        margin: 0;
        position: relative;
        top: -16px;
        left: 98px;
    }
}

.items {
    display: flex;
    gap: 1.5rem;
    margin: .5rem 18rem 0 0;

    @include mobile {
        display: none;
    }

    a {
        font: normal normal 500 0.875rem/16.1px TimesBold;
        color: $primary;
        transition: .3s ease-in-out;

        &:hover {
            color: $tertiary;
        }
    }

}


.search {
    input {
        width: 248px;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: .3rem 1.3rem;

        @include mobile {
            border: 1px solid #F0F0F0;
            background: #F6F6F6;
            border-radius: 4px;
        }
    }

    @include mobile {
        position: relative;
        top: 21px;
        left: -19%;
    }
}

.icon-search {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -3px;
    background-image: url('../img/search.svg');

    @include mobile {
        margin-left: 147px;
        margin-top: 40px;
    }
}

.icons {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 0 2rem;

    @mixin sizeIcons {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .user {
        @include sizeIcons;
        background-image: url('../img/user.svg');

        @include mobile {
            display: none;
        }
    }

    .cart {
        @include sizeIcons;
        background-image: url('../img/cart.svg');

        @include mobile {
            position: relative;
            right: 85%;
            top: -16px;
        }
    }

    select {
        outline: none;
        border: none;
    }
}

// SUBMENU
.container-grid {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    background: #ffffff;
    border-top: 1px solid #ccc;
    display: none;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "featured featured items items items items";
    z-index: 100 !important;
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-out;
}
.grid-activo {
    display: grid;
}

.grid-featured {
    padding: 1rem 2rem 0 0;
    text-align: center;

    h2 {
        font: normal normal 600 12px/12px "InterstateLight";
    }
}

.items-list {
    .categoria {
        font: normal normal 400 20px/24px ChronicleSemiBold;
        cursor: pointer;
        transition: .3s ease-out;

        &:hover {
            color: $tertiary_hover;
            text-decoration: underline !important;
        }
    }

    .sub-categoria {
        padding: 1rem 0 0 0;

        li {
            font: normal normal 300 0.875rem/0.875rem InterstateLight;
            margin-bottom: 1.5rem;
        }
    }
}