//Columnas
@mixin grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}

//Controles del carousel
@mixin controls {
    padding: 1rem;
    position: absolute;
    bottom: 4%;
    width: 4rem !important;
    cursor: pointer;

    @include mobile {
        bottom: 1%;
    }
}

//Encabezado de cada seccion 
@mixin titleH2 {
    font-size: 1.78rem;
    font-weight: 700;
    line-height: 32.2px;
    margin-bottom: 2rem;
    @include mobile {
        font-size: 1.25rem;
    }
}

//Media queries
@mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$tablet}) {
        @content;
    }
}